{
  "presets": [
    "react",
    "env"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-class-properties",
    "syntax-trailing-function-commas",
    "transform-object-rest-spread",
    "transform-react-constant-elements",
    "transform-react-inline-elements"
  ],
  "env": {
    "development": {
      "plugins": [
        ["babel-plugin-transform-builtin-extend", {
            "globals": ["Error", "Array"]
        }]
      ]
    }
  }
}
