{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-transform-runtime",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "syntax-trailing-function-commas",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-react-constant-elements",
    "@babel/plugin-transform-react-inline-elements"
  ]
}
